.root{
    -fx-new-color:pink;
}

#setNameTextField{
    -fx-font-size: 40;
    -fx-pref-height: 100;
    -fx-pref-width: 300;
    -fx-max-width: 300;
    /*-fx-accent: white;*/
    -fx-background-color: -fx-new-color, #efefef;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;
}
#rootVBox{
    -fx-pref-width: 1000;
    -fx-pref-height: 600;
    -fx-background-color: #efefef;
}

.label{
    -fx-font-size: 15;
    -fx-padding: 2 10 2 2;
}
.secondSentenceLabel{
    -fx-padding: 2 10 2 70;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#addSentencesScrollPane {
    -fx-pref-width: 1000;
    -fx-pref-height: 400;
    -fx-hbar-policy: NEVER;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.sentencesHBox {
    -fx-alignment: center;
    -fx-spacing: 35;
}

#addSentencesVBox{
    -fx-spacing: 30;
    -fx-background-color: transparent;
}
#buttonsHBox{
    -fx-pref-width: 1000;
    -fx-spacing: 150;
    -fx-padding: 20;
}

#buttonsHBox .button{
    -fx-pref-width: 100;
    -fx-spacing: 150;
    -fx-pref-height: 50;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-border-radius: 0;
    -fx-border-color: -fx-new-color;
}

#buttonsHBox .button:hover{
    -fx-border-width: 3;
}

.colorButtons {
    -fx-pref-width: 40;
    -fx-max-width: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}

#colorHBox{
    -fx-spacing: 20;
    -fx-padding: 7;
}

.firstSentenceTextField, .secondSentenceTextField{
    -fx-background-color: -fx-new-color, #efefef;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;
}

.removeButton {
    -fx-background-color: transparent;
    -fx-border-color: -fx-new-color;
    -fx-text-fill: -fx-new-color;
    -fx-border-radius: 0;
}


.removeButtonHBox{
    -fx-spacing: 5;
}