#root{
    /*-fx-background-color: yellow;*/
}

#leftVBox{
    -fx-background-color: #ffffff;
}

.button{
    -fx-pref-width: 180;
    -fx-pref-height: 40;
}

#rightHBox{
    -fx-background-color: #837d7d;
}

#colorLabel{
    -fx-padding: 0 15 0 0;
}

