#root{
    /*-fx-background-color: yellow;*/
}

#leftVBox{
    -fx-background-color: #ffffff;
}

.button{
    -fx-pref-width: 180;
    -fx-pref-height: 40;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#rootRightScrollPane {
    -fx-hbar-policy: NEVER;
    -fx-border-width: 0;
    -fx-background-color: #837d7d;
}

.rowSentenceHBox {
    -fx-background-color: transparent;
    -fx-padding: 20;
    -fx-spacing: 55;
}

.rootSetsVBox {
    -fx-pref-height: 150;
    -fx-max-height: 150;
    -fx-pref-width: 300;
    -fx-max-width: 300;
    -fx-background-radius: 10;
    -fx-background-color: red;
    -fx-padding: 7;
}

.setNameLabel{
    -fx-font-size: 25;
}

.setButtonsHBox {
    -fx-spacing: 10;
    -fx-padding: 60 5 5 5;
    -fx-alignment: CENTER;
}

.setButtons {
    -fx-pref-width: 70;
    -fx-pref-height: 20;
}

